/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
  font-family: "Hk Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Jost-Regular.ttf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-size-small: 1.8rem;
  --font-size-normal: 2.2rem;
  --font-size-medium: 2.8rem;
  --font-size-medium-1: 3.6rem;
  --font-size-large: 5.5rem;
  --font-size-huge: 7.5rem;
  --font-stack: "Hk Grotesk", sans-serif;

  --line-height-normal: 1.7;
  --line-height-small: 1.2;

  --primary: #753422;
  --secondary: #b05b3b;
  --third: #d79771;
  --fourth: #ffebc9;

  --container-max-width: 1180px;
  --container-normal-width: 800px;
  --container-medium-width: 700px;
  --container-small-width: 500px;

  --gutter-huge: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 3rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;

  --border-light: 1px solid rgb(36, 35, 35);
}

html {
  font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 1000px) {
  html {
    font-size: 52%;
  }
}

body {
  font-size: var(--font-size-small);
  font-family: var(--font-stack);
  font-weight: 400;
  color: var(--fourth);
  line-height: var(--line-height-normal);
  background: var(--primary);
  overflow-x: hidden;
}

.row {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .row {
    max-width: 1100px;
  }
}

@media (max-width: 1240px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-normal);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-small);
  }
}

section {
  padding: var(--gutter-medium) 0;
}

img {
  object-fit: contain;
  max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: var(--line-height-small);
  color: var(--third);
}

.heading-primary {
  line-height: 1;
  font-size: var(--font-size-huge);
  font-weight: 400;
}

@media (max-width: 900px) {
  .heading-primary {
    font-size: 6.5rem;
  }
}

h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--gutter-medium);
}

h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 10rem;
  background: var(--secondary);
  margin: var(--gutter-small) 0;
}

h3 {
  font-size: var(--font-size-medium-1);
  margin-bottom: var(--gutter-small);
}

@media (max-width: 500px) {
  .heading-primary {
    font-size: var(--font-size-large);
  }

  h2 {
    font-size: var(--font-size-medium-1);
  }

  h3 {
    font-size: var(--font-size-medium);
  }
}

p {
  margin: var(--gutter-small-1) 0;
}

@media (max-width: 900px) {
  p {
    max-width: var(--container-small-width);
  }
}

/* --------------------------------------- */
/* ----- Buttons, icons and links ----- */
/* --------------------------------------- */

.btn {
  border: 2px solid var(--third) !important;
  color: var(--third) !important;
  background-color: transparent !important;
  text-decoration: none !important;
  font-size: var(--font-size-small);
  padding: 10px !important;
}
.btn:hover {
  opacity: 0.8 !important;
  cursor: pointer;
}

::-moz-focus-inner {
  border: 0;
}

button:focus,
a:focus {
  outline: 2px solid var(--secondary);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link:hover {
  color: var(--secondary);
}

.menuBtn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  font-style: inherit;

  color: var(--third);
  border: none;
  font-size: var(--font-size-medium);
  background-color: transparent;
}

.menuBtn:focus {
  outline: none;
}

.menuBtn:hover {
  color: var(--fourth);
  cursor: pointer;
}
.active_input {
  color: var(--fourth);
}

.menuBtn:hover::after,
.menuBtn:focus::after {
  right: 0;
  background: var(--secondary);
}

i {
  padding: 10px;
  color: var(--fourth);
}
i:hover,
.iconify:hover {
  color: var(--secondary);
  cursor: pointer;
}

.link__text {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

.link__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--third);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
  outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
  right: 0;
  background: var(--secondary);
}

.link__text span {
  padding-left: 1rem;
  font-family: sans-serif;
}

/* ----- Back to Top ----- */

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--secondary);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}

.back-to-top__image {
  height: 70%;
}

@media (max-width: 900px) {
  .back-to-top {
    right: 2rem;
  }
}

@media (max-width: 500px) {
  .back-to-top {
    right: 1rem;
  }
}

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
  display: flex;
  justify-content: flex-end;
  padding: var(--gutter-normal) 0;
}

.nav__items {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: var(--gutter-medium);
}

@media (max-width: 500px) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-normal);
  }
}

@media (max-width: 300px) {
  .nav {
    font-size: var(--font-size-small);
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: var(--third);
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
  color: var(--secondary);
}

.nav__link:hover::after {
  right: 0;
  height: 2px;
  background: var(--secondary);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
  background-color: var(--primary);

  font-size: var(--font-size-small);
  text-align: center;
}
.header__main {
  margin-top: 100px;
}
.header__main p {
  margin-bottom: 80px;
}
.header__main .btn {
  padding: 10px;
  border-radius: 20%;
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__main {
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 60px;
}
.about__text .heading-primary {
  font-size: var(--font-size-medium-1);
}
.about__text p {
  max-width: var(--container-medium-width);
  font-family: "Jost", sans-serif;
  font-size: var(--font-size-small);
}
.about__img {
  background-image: url(res/images/photo-profil.jpg);
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: var(--third) 5px solid;
  flex-shrink: 0;
  margin: 10px 30px 10px 10px;
}

@media (max-width: 700px) {
  .about__main {
    display: block;
  }
}

/* --------------------------------------- */
/* ----- Experience ----- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */

.menu {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.inside {
  display: none;
  margin-top: 30px;
}
.active {
  display: block;
}
.inside_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.project {
  display: block;
  position: relative;
  border: 5px solid;
  height: 300px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--primary);
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
.project:hover .overlay {
  opacity: 0.7;
}
.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay button {
  background-color: transparent;
  color: var(--fourth);
  border: 1px solid var(--fourth);
  padding: 10px;
}
.overlay button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--third);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-header h3 {
  text-align: center;

  color: var(--primary);
}
.modal-footer {
  text-align: center;
}
.modal-footer a {
  border: 2px solid;
  text-decoration: none;
  padding: 10px;
  color: var(--fourth);
}
.modal-footer a:hover {
  opacity: 0.8;
}

.closeModal {
  color: var(--primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact-main {
  display: flex;
}

.contact-form {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: none;
  background-color: var(--fourth);
  font-style: inherit;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.social-media {
  width: 50%;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
  padding: var(--gutter-normal) 0;
  list-style: none;
}

.social-link-item:not(:last-of-type) {
  margin-right: var(--gutter-small);
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
  text-align: center;
  padding: var(--gutter-medium) 0 var(--gutter-normal);
}

@media (max-width: 500px) {
  .footer {
    padding: var(--gutter-medium) 0;
  }
}
